@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraLight.eot");
  src: url("../fonts/Manrope-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-ExtraLight.woff2") format("woff2"), url("../fonts/Manrope-ExtraLight.woff") format("woff"), url("../fonts/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Canela";
  src: url("../fonts/Canela-Bold.eot");
  src: url("../fonts/Canela-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Canela-Bold.woff2") format("woff2"), url("../fonts/Canela-Bold.woff") format("woff"), url("../fonts/Canela-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Canela";
  src: url("../fonts/Canela-Medium.eot");
  src: url("../fonts/Canela-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Canela-Medium.woff2") format("woff2"), url("../fonts/Canela-Medium.woff") format("woff"), url("../fonts/Canela-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.eot");
  src: url("../fonts/Manrope-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff"), url("../fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.eot");
  src: url("../fonts/Manrope-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
.my_container {
  background-color: white;
  overflow: hidden; }

.img {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  display: block; }

.text_title {
  width: 850px;
  max-width: 100%;
  margin: 0px auto;
  text-align: center;
  font-size: 26px;
  font-family: "Philosopher";
  font-weight: normal;
  font-style: normal; }

.text_content {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
  position: relative;
  font-family: "Manrope";
  font-weight: normal;
  font-style: normal; }

.group_image {
  position: relative;
  width: fit-content;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }
  .group_image img {
    position: absolute;
    top: 0;
    left: 0; }
  .group_image img:first-child {
    position: initial; }

.d-none {
  display: none !important; }

.author {
  font-size: 18px;
  font-family: "San Francisco Text";
  font-weight: normal;
  font-style: normal;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  margin-top: 0px; }
  .author p {
    text-align: center;
    margin-bottom: 0; }
    .author p span {
      font-weight: bold; }

.decor-loop {
  position: absolute;
  top: 0; }

.decor-loop.big {
  margin-top: -265px; }

.decor-loop.small {
  margin-top: -46px;
  right: 0; }

.nav-container {
  background-image: url(../images/bg-nav.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 200px;
  width: 100%;
  z-index: 1000; }
  .nav-container ul {
    display: flex;
    justify-content: center; }
  .nav-container li {
    width: 341px;
    height: 100px;
    background-color: #b79e6e;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer; }
    .nav-container li p {
      margin-bottom: 0;
      font-size: 21px;
      text-align: center; }
    .nav-container li img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    .nav-container li .img-nav-decor.n-left {
      left: -1px; }
    .nav-container li .img-nav-decor.n-right {
      right: -1px; }
  .nav-container .active-btn {
    display: none; }
  .nav-container li.active-nav {
    background-image: url(../images/nav-item-bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover; }
    .nav-container li.active-nav p {
      color: #b79e6e; }
    .nav-container li.active-nav img {
      display: none; }
    .nav-container li.active-nav .active-btn {
      display: block; }

.back-to-home {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #b79e6e;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s;
  gap: 15px; }
  .back-to-home p {
    margin-bottom: 0;
    text-align: center;
    text-decoration: underline; }
  .back-to-home i {
    font-size: 24px; }
  .back-to-home:hover {
    gap: 5px; }

.show-btn {
  opacity: 1; }

.page-item {
  display: none; }

.page-item.active-page {
  display: block; }

.page-loading {
  width: 100%;
  height: calc(100vh - 47px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6f2ff;
  position: fixed;
  z-index: 100;
  top: 0;
  background-image: url(../images/page-2/bg-3.png); }

.spinner-2 {
  width: 100px;
  height: fit-content;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 16px solid #b79e6e;
  border-right-color: #002c7c;
  animation: s2 1s infinite linear;
  margin-bottom: 100px; }

@keyframes s2 {
  to {
    transform: rotate(1turn); } }
.fade-in {
  animation: fade-in 1.2s; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.p1-1 {
  position: relative;
  z-index: 5; }

.p1-content-1 {
  background-image: url(../images/bg-1.png);
  background-position: center top 0;
  background-repeat: no-repeat;
  padding-top: 16%;
  margin-top: -28%; }
  .p1-content-1 .p1-decor-4 {
    position: relative;
    z-index: 5;
    margin-bottom: 15px; }
  .p1-content-1 .p1-decor-1 {
    left: 0;
    transform: translateY(32px); }

.page-1 .title {
  margin-top: 25px;
  font-family: "Manrope";
  font-weight: 600;
  font-style: normal;
  font-size: 23px; }

.group-decor-1 {
  position: relative;
  width: 100%; }

.page-2 {
  background-color: #e6f2ff;
  position: relative;
  padding-bottom: 0px; }
  .page-2 .decor-1 {
    margin-bottom: 10px; }
  .page-2 .title {
    text-align: center;
    margin: 0 auto;
    font-size: 60px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #0e2441;
    font-family: "Canela";
    font-weight: 500;
    font-style: normal;
    line-height: 1.2; }
  .page-2 .p2-content-1 {
    background-image: url(../images/page-2/bg-1.png);
    background-position: center top;
    background-repeat: no-repeat; }
  .page-2 .p2-content-1-container {
    width: 100%;
    max-width: 1400px;
    background-image: url(../images/page-2/bg-2.png);
    margin: 0 auto;
    padding: 0 50px 200px 50px; }
  .page-2 .img-2 {
    margin-top: -21%; }
  .page-2 .p2-content-2 {
    position: relative;
    z-index: 2;
    background-image: url(../images/page-2/bg-3.png);
    padding-top: 12%;
    margin-top: -8%; }
  .page-2 .img-3 {
    margin: 0;
    margin-top: -21%; }
  .page-2 .img-4 {
    margin-top: 40px; }
  .page-2 .group_text_3 {
    margin-top: -34%; }
  .page-2 .quote-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    background-image: url(../images/page-2/bg-4.png);
    background-position: center top;
    background-repeat: no-repeat;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 40px 20px 100px 20px;
    min-height: 500px;
    position: relative;
    color: white;
    text-align: center;
    font-family: "Manrope";
    font-weight: 600;
    font-style: normal;
    font-size: 26px; }
    .page-2 .quote-container p {
      margin-bottom: 0; }
    .page-2 .quote-container .line-quote {
      width: 35%;
      border-top: 2px dotted white;
      margin: 20px auto; }
    .page-2 .quote-container .quote-author {
      font-size: 18px; }
    .page-2 .quote-container .img-quote-semi {
      position: absolute;
      top: -24px;
      left: 50%;
      transform: translateX(-50%); }
  .page-2 .img-5 {
    margin-top: -48%; }

.page-3 {
  background-color: #e6f2ff;
  width: 100%;
  background-image: url(../images/page-2/bg-3.png); }
  .page-3 .p3-content-1 {
    position: relative; }
  .page-3 .cover-text-container {
    position: absolute;
    top: 0;
    right: 29%; }
    .page-3 .cover-text-container .img-3 {
      margin-top: 15px;
      margin-bottom: 10px; }
    .page-3 .cover-text-container p {
      font-size: 60px;
      color: #0e2441;
      font-family: "Canela";
      font-weight: 500;
      font-style: normal;
      text-align: center;
      line-height: 1.3; }
  .page-3 .p3-content-2 {
    position: relative;
    padding-top: 30px; }
  .page-3 .decor-1 {
    top: calc(-338px / 2);
    left: 10%; }
  .page-3 .img-5 {
    margin-top: 15px;
    margin-bottom: 40px; }
  .page-3 .img-4,
  .page-3 .img-5 {
    position: relative; }
  .page-3 .img-6 {
    margin-top: -58%; }
  .page-3 .img-7 {
    margin-top: -14%; }
  .page-3 .group_text_2 {
    margin-top: -3.1%; }
  .page-3 .decor-2 {
    right: 0; }
  .page-3 .decor-3 {
    left: 0;
    margin-top: -31px; }
  .page-3 .p3-content-3 {
    position: relative;
    z-index: 1;
    background-image: url(../images/page-3/bg-1.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 50px; }
  .page-3 .quote-container.quote-1 {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    background-image: url(../images/page-2/bg-4.png);
    background-position: center top -20%;
    background-repeat: no-repeat;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 40px 20px 100px 20px;
    min-height: 500px;
    position: relative;
    color: white;
    text-align: center;
    font-family: "Manrope";
    font-weight: 600;
    font-style: normal;
    font-size: 26px; }
    .page-3 .quote-container.quote-1 .img-quote-semi {
      position: absolute;
      top: -24px;
      left: 50%;
      transform: translateX(-50%); }
    .page-3 .quote-container.quote-1 p {
      margin-bottom: 0; }
    .page-3 .quote-container.quote-1 .line-quote {
      width: 35%;
      border-top: 2px dotted white;
      margin: 20px auto; }
    .page-3 .quote-container.quote-1 .quote-author {
      font-size: 17px; }
  .page-3 .quote-container.quote-2 {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    background-repeat: no-repeat;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 40px 20px 100px 20px;
    position: relative;
    color: #002c7c;
    text-align: center;
    font-family: "Manrope";
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
    margin-top: 60px; }
    .page-3 .quote-container.quote-2 .img-quote-semi {
      position: absolute;
      top: -24px;
      left: 50%;
      transform: translateX(-50%); }
    .page-3 .quote-container.quote-2 p {
      margin-bottom: 0; }
    .page-3 .quote-container.quote-2 .line-quote {
      width: 35%;
      border-top: 2px dotted #002c7c;
      margin: 20px auto; }
    .page-3 .quote-container.quote-2 .quote-author {
      font-size: 17px; }
  .page-3 .group_text_3 {
    margin-top: -0%; }
  .page-3 .slide-1-container {
    width: 1354px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden; }
    .page-3 .slide-1-container .swiper {
      width: 100%;
      height: 100%; }
    .page-3 .slide-1-container .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer; }
    .page-3 .slide-1-container .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .page-3 .swiper-1 {
    padding-bottom: 60px; }
    .page-3 .swiper-1 .swiper-pagination {
      left: 50%;
      transform: translateX(-50%);
      margin-top: 25px; }
      .page-3 .swiper-1 .swiper-pagination .swiper-pagination-bullet {
        margin: 0 5px;
        width: 15px;
        height: 15px;
        background-color: #b79e6e;
        opacity: 1 !important; }
      .page-3 .swiper-1 .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #002c7c !important; }
  .page-3 .slide-2-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px; }
    .page-3 .slide-2-container .swiper {
      width: 1474px;
      padding-top: 50px;
      padding-bottom: 50px; }
    .page-3 .slide-2-container .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 700px;
      height: auto;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      top: inherit;
      left: inherit;
      right: inherit; }
    .page-3 .slide-2-container .swiper-slide img {
      display: block;
      width: 100%;
      transition: all 1s; }
    .page-3 .slide-2-container .swiper-3d .swiper-slide-shadow-right,
    .page-3 .slide-2-container .swiper-3d .swiper-slide-shadow-left {
      background-image: none; }
    .page-3 .slide-2-container .swiper-slide-next {
      transition-duration: 0ms;
      transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(30deg) scale(0.75) !important;
      z-index: 0;
      left: -8%; }
    .page-3 .slide-2-container .swiper-slide-prev {
      transition-duration: 0ms;
      transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(-30deg) scale(0.75) !important;
      z-index: 0;
      right: -8%; }
    .page-3 .slide-2-container .swiper-slide-active {
      transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1) !important; }
    .page-3 .slide-2-container .swiper-pagination {
      left: 50%;
      transform: translateX(-50%);
      margin-top: 25px; }
      .page-3 .slide-2-container .swiper-pagination .swiper-pagination-bullet {
        margin: 0 5px;
        width: 15px;
        height: 15px;
        background-color: #b79e6e;
        opacity: 1 !important; }
      .page-3 .slide-2-container .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #002c7c !important; }
  .page-3 .img-8 {
    margin-top: -13%; }
  .page-3 .p3-content-4 {
    background-image: url(../images/page-3/bg-2.png);
    background-position: center bottom 66%;
    background-repeat: no-repeat; }

.page-4 {
  background-color: #e6f2ff;
  background-image: url(../images/page-2/bg-3.png); }
  .page-4 .cover-text-container {
    margin-top: -10%;
    margin-bottom: 50px; }
    .page-4 .cover-text-container p {
      font-size: 40px;
      color: #0e2441;
      font-family: "Canela";
      font-weight: 500;
      font-style: normal;
      text-align: center;
      line-height: 1.3; }
  .page-4 .quote-container.quote-1 {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    background-image: url(../images/page-2/bg-4.png);
    background-position: center top -20%;
    background-repeat: no-repeat;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 40px 20px 100px 20px;
    min-height: 500px;
    position: relative;
    color: white;
    text-align: center;
    font-family: "Manrope";
    font-weight: 600;
    font-style: normal;
    font-size: 26px; }
    .page-4 .quote-container.quote-1 .img-quote-semi {
      position: absolute;
      top: -24px;
      left: 50%;
      transform: translateX(-50%); }
    .page-4 .quote-container.quote-1 p {
      margin-bottom: 0; }
    .page-4 .quote-container.quote-1 .line-quote {
      width: 35%;
      border-top: 2px dotted white;
      margin: 20px auto; }
    .page-4 .quote-container.quote-1 .quote-author {
      font-size: 17px; }
  .page-4 .p4-content-2 {
    position: relative; }
  .page-4 .p4-content-3 {
    position: relative;
    margin-top: -5%; }
  .page-4 .p4-content-4 {
    position: relative;
    padding-top: 40px; }
  .page-4 .decor-2 {
    right: 0;
    transform: translateY(20%); }
  .page-4 .decor-3 {
    left: 0; }
  .page-4 .img-4 {
    margin-top: -7%; }

.page-5 {
  background-color: #e6f2ff; }
  .page-5 .p5-content-1 {
    background-image: url(../images/page-5/img-1.png);
    width: 100%;
    padding-top: 90px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center top; }
  .page-5 .cover-text-container {
    margin-bottom: 50px; }
    .page-5 .cover-text-container p {
      font-size: 60px;
      color: #0e2441;
      font-family: "Canela";
      font-weight: 500;
      font-style: normal;
      text-align: center;
      line-height: 1.3; }
  .page-5 .decor-1 {
    left: 50%;
    transform: translateX(-50%); }
  .page-5 .window-content {
    width: 1231px;
    max-width: 100%;
    background-image: url(../images/page-2/bg-3.png);
    margin: 0 auto;
    margin-top: 33%;
    padding-top: 30px;
    padding-bottom: 300px; }
  .page-5 .group_img_1 {
    margin-top: -16%; }
  .page-5 .img-2 {
    margin-top: -17%; }
  .page-5 .p5-content-2 {
    position: relative;
    background-image: url(../images/page-2/bg-3.png);
    padding-top: 40px;
    z-index: 2; }
  .page-5 .decor-2 {
    right: 0; }
  .page-5 .quote-container.quote-1 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-image: url(../images/page-5/bg-2.png);
    background-position: center top -20%;
    background-repeat: no-repeat;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 40px 20px 100px 20px;
    min-height: 600px;
    position: relative;
    color: white;
    text-align: center;
    font-family: "Manrope";
    font-weight: 600;
    font-style: normal;
    font-size: 26px; }
    .page-5 .quote-container.quote-1 .img-quote-semi {
      position: absolute;
      top: -24px;
      left: 50%;
      transform: translateX(-50%); }
    .page-5 .quote-container.quote-1 p {
      margin-bottom: 0; }
    .page-5 .quote-container.quote-1 .line-quote {
      width: 35%;
      border-top: 2px dotted white;
      margin: 20px auto; }
    .page-5 .quote-container.quote-1 .quote-author {
      font-size: 18px; }
  .page-5 .p5-content-3 {
    background-image: url(../images/page-5/bg-1.png);
    background-repeat: no-repeat;
    background-position: center bottom 46%;
    margin-top: -26%; }
  .page-5 .slide-3-container {
    max-width: 100%;
    margin: 0 auto;
    margin-top: -10%;
    border-radius: 10px;
    width: 1231px;
    max-width: 100%;
    overflow: hidden;
    position: relative; }
    .page-5 .slide-3-container:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 35px;
      height: 50px;
      width: 50px;
      background-image: url(../images/page-5/slide/slide-decor.png);
      background-size: contain;
      z-index: 10; }
    .page-5 .slide-3-container .swiper {
      width: 100%;
      height: 100%;
      border-radius: 10px; }
    .page-5 .slide-3-container .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer; }
    .page-5 .slide-3-container .swiper-slide img {
      display: block;
      object-fit: cover; }
    .page-5 .slide-3-container .swiper-3 {
      padding-bottom: 60px; }
      .page-5 .slide-3-container .swiper-3 .swiper-pagination {
        left: 50%;
        transform: translateX(-50%);
        margin-top: 25px; }
        .page-5 .slide-3-container .swiper-3 .swiper-pagination .swiper-pagination-bullet {
          margin: 0 5px;
          width: 15px;
          height: 15px;
          background-color: #b79e6e;
          opacity: 1 !important; }
        .page-5 .slide-3-container .swiper-3 .swiper-pagination .swiper-pagination-bullet-active {
          background-color: #002c7c !important; }
  .page-5 .img-4 {
    margin-top: -6%; }

/*# sourceMappingURL=main.css.map */
